:root{
    --bleuCiel:#C6E6FB;
    --noir:#000000;
    --blanc:#ffffff;
    --fonte:Roboto;
    --bleumarin:#1F305E;
    --bleufonce:#3a5683;
    --bleu:#3970c3;
    --police:Questrial;
}
/*pour utiliser les variables tu dois écrir par exemple:-->   var(--bleuCiel)*/

/*-----------------------------------------------------------------
# Styles Généraux 
-------------------------------------------------------------------*/
header


body{
    background-color:var(--bleuCiel);
}



.container-fluid{
background-color: var(--bleufonce);
}