:root{
    --bleuCiel:#C6E6FB;
    --noir:#000000;
    --blanc:#ffffff;
    --fonte:Roboto;
    --bleumarin:#1F305E;
    --bleufonce:#3a5683;
    --bleu:#3970c3;
    --police:Questrial;
}
/*pour utiliser les variables tu dois écrir par exemple:-->   var(--bleuCiel)*/

/*-----------------------------------------------------------------
# Styles Généraux 
-------------------------------------------------------------------*/
html{
    height: 200vh;
}

header

h1

h4{
    font-family:var(--police) ;
      }

footer

body{
    background-color:var(--bleuCiel);
}

main{
    height: 200vh;
          }



/*-----------------------------------------------------------------
# Styles Header
-------------------------------------------------------------------*/
.container-fluid{
    background-color: var(--bleufonce);
    }

.keanu{
width: 50px;
height: 50px;
    }

.navbar-nav{
display: flex;    
flex-direction: column;
justify-content: flex-end;
align-items: center;
}

.nav-link{
color: var(--blanc); 


}


.logo.titre{
    font-size:70px;
}

.logo{
    font-family:Arial, Helvetica, sans-serif;
}

.navbar{
    position: static;
    top: 0vh;
--bs-navbar-padding-y:0;
}


.text-center{
padding: 1rem;
margin-top: 1rem;
}
