:root {
    --bleuCiel: #C6E6FB;
    --noir: #000000;
    --blanc: #ffffff;
    --fonte: Roboto;
    --bleumarin: #1F305E;
    --bleufonce: #3a5683;
    --bleu: #3970c3;
    --police: Questrial;
}

/*pour utiliser les variables tu dois écrir par exemple:-->   var(--bleuCiel)*/

/*-----------------------------------------------------------------
# Styles Généraux 
-------------------------------------------------------------------*/
html header h1 h4 {
    font-family: var(--police);
}

footer body {
    background-color: var(--bleuCiel);
}

main {
    background-color: var(--bleuCiel);
}

/*-----------------------------------------------------------------
# Styles Header
-------------------------------------------------------------------*/
.container-fluid {
    background-color: var(--bleufonce);
}


.navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.nav-link {
    color: var(--blanc);


}


.logo.titre {
    font-size: 70px;
}

.logo {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    top: 0vh;
    --bs-navbar-padding-y: 0;
}


.text-center {
    padding: 1rem;
    margin-top: 1rem;
}


.block {
    width: 100%;
    height: 700px;
}

.app {
    font-size: 70px;
    font-family: var(--police);
}

.blue {
    background-color: var(--blanc);
    width: 100%;
    aspect-ratio: 5/9;
    border: solid 10px var(--noir);
    border-radius: 10px;

}

a[href*="https://github.com/etennecharron/etienne_jeremy_airflight"] {
    text-decoration: none;
    color: var(--blanc);
}

a[href*="https://github.com/etennecharron/etienne_jeremy_airflight"]:hover {
    color: var(--bleuCiel);
}


.AppliTitre {
    font-size: 100px;
    font-weight: bold;
    line-height: 65px;
    color: var(--bleumarin);
}


.sous-titre {
    font-size: 15px;
    color: var(--bleumarin);

}

.description {
    font-size: 75px;
    line-height: 65px;
    color: var(--bleumarin);
}

.bouton {
    width: 300px;
    height: 50px;
    font-size: 30px;
    border: solid 2px var(--bleu);
    border-radius: 5px;
    background-color: var(--bleuCiel);
    color: var(--bleumarin);
}

/*-----------------------------------------------------------------
# Styles Main
-------------------------------------------------------------------*/
.bi-calendar3-week {
    font-size: 2rem;
    color: var(--bleu);
    margin-top: 10px;
    margin-left: 10px;
}

.bi-calendar-heart {
    font-size: 2rem;
    color: var(--bleu);
    margin-top: 10px;
    margin-left: 10px;
}

.bi-person-lines-fill {
    font-size: 2rem;
    color: var(--bleu);
    margin-top: 10px;
    margin-left: 10px;
}

.bi-ticket-detailed {
    font-size: 2rem;
    color: var(--bleu);
    margin-top: 10px;
    margin-left: 10px;
}

.bi-geo-alt {
    font-size: 2rem;
    color: var(--bleu);
    margin-top: 10px;
    margin-left: 10px;
}

.bi-controller {
    font-size: 2rem;
    color: var(--bleu);
    margin-top: 10px;
    margin-left: 10px;
}


.bi-chat-right-quote {
    font-size: 2rem;
    color: var(--bleu);
    margin-top: 5px;
    margin-left: 10px;
    position: absolute;
    right: 10px;
}

.bi-envelope-at {
    color: var(--bleu);
}

.fonctionnalite {
    text-align: center;
    color: var(--bleumarin);
}

.texteFonctio {
    text-align: center;
    color: var(--bleumarin);
}

.temoignages {
    text-align: center;
    color: var(--bleumarin);
}

.textetemoignage {
    text-align: center;
    color: var(--bleumarin);
}

.card-img-hugh {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    object-fit: cover;
}


.card-img-francoise {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    object-fit: cover;
}

.card-img-keanu {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    object-fit: cover;
}

.card-img-dave {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
}


.card-img-marie {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

.card-img-jack {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

.section-features {
    padding-bottom: 300px;
}

.section-testimonials {
    padding-bottom: 300px;
}


.navbar {
    margin-bottom: 100px;
}

#FAQ {
    padding-bottom: 100px;
}

#Infolettre {
    padding-bottom: 10px;
}

.contenu {
    background-color: var(--bleu);
    color: var(--blanc);
    text-align: center;
    margin-bottom: 200px;
    position: relative;
    z-index: 1;
    opacity: 70%;
    padding: 10px;
}

.imginfo {
    margin-bottom: 100px;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Hero{
padding-bottom: 300px;    
}

.row {
    --bs-gutter-x:none;
     }