:root {
    --bleuCiel: #C6E6FB;
    --noir: #000000;
    --blanc: #ffffff;
    --fonte: Roboto;
    --bleumarin: #1F305E;
    --bleufonce: #3a5683;
    --bleu: #3970c3;
    --police: Questrial;
}
/*-----------------------------------------------------------------
# Styles Généraux 



$white: #ffffff;

$theme-colors: (
    "light":      #e2ceb4,
    "dark":       #c6e6fb,
    "primary":    #336ec7,
    "secondary":  #19378b,
    "info":       #37b498,
    "success":    #1aa25e,
    "warning":    #e2ca1b,
    "danger":     #f01a0c,
);
-------------------------------------------------------------------*/
li {
    cursor: pointer;
}
body{
    width:100vw;
    margin: 0;
    background-color:--bleu;
}
.logo.titre {
    font-size: 90px;
}

.logo.texte {
    font-weight: 600;
    font-size: 13px;
    padding-left: 20px;
    padding-top: 12px;
}

.logo {
    font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
    margin: 0;
    
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

body{
    background-color:var(--bleuCiel);
    overflow-x:hidden;
}
.navbar-toggler{
    border:none;
}
.test{
    background-color: #000000;
    width:100px;
    height: 100px;
}
.index main{
    margin-top: 150px;
}

footer{
    background-color:var(--bleu);
    padding:1rem;
    margin-top: 1rem;
    margin-bottom:1rem;
    width:100vw;
    margin: 0;
}

footer .container-fluid{
    background-color: var(--bleu);
}

footer .container-fluid p{
    color:var(--blanc);
}

.section-2{
white-space: nowrap;
}
.carte{
    border: none;
    background-color:transparent;
    text-decoration: none;
    color: black;
}
.index .carte:hover .card-body{
background-color: rgba(222, 239, 255, 0.685);
}
.carteSectionCarte .imgOeuvre{
    width:100%;
    height:20vh;
    object-fit: cover;
}

header{
    width:100vw;
    margin: 0;
}
.carteWrapup{
    white-space: nowrap;
}
.imgArtist{
    width:50px;
    height:50px;
    border-radius: 50%;
    object-fit: cover;
    border: solid 1px black;
}
#sectionCarte{
    width:140%;
}
.carteSectionCarte{
    max-width:200px;
}
.carteSectionAutre .imgOeuvre{
height:20vh;
object-fit: cover;
}
.carteSectionCarte .card-title{
    font-size:15px;
    font-weight:630;
}
.carteSectionCarte .card-body{
    font-size:12px;
}


.artwork .navbar-brand{
    display:none;
}
.artwork .imgOeuvre{
    height:33vh;
    object-fit: cover;
    width:110vw;
}

.infoWrapup{
    border-top-right-radius:50px;
    border-top-left-radius:50px;
    overflow: hidden;
    background-color: white;
}

.artwork .artiste{
    object-fit: cover;
    width:80vw;
    height:20vh;
}
.artwork .card-body{
width:80vw;
}
.wrapupInfoOEuvre{
    max-width:80vw;
    text-align: justify;
}

.reservationWrapUp{
width:80vw;
}
::-webkit-scrollbar{
    background:transparent;
    width:0;
}
.artwork .infoWrapup{
    margin-top:-40px;
    position: relative;
    box-shadow: 0px -10px 10px 0px rgba(0, 0, 0, 0.363);
}


.btnAimer{
width:60px;
height:60px;
border:solid black 4px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}
.artwork .aimer{
    background-color: red;
    fill: red;
    color: red;
    
}
.btnAimer i{
    font-size: 30px;
}
.btnRetour{
width:60px;
height:60px;
border:solid black 4px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
background-color: white;
}
.btnRetour i{
    font-size:30px;
    color: black;
}